<h1 class="display-6">Personagens</h1>
<input type="text" class="form-control find" [(ngModel)]="find" placeholder="Procure pelo nome...">
<div class="table-limit">
    <table *ngIf="people" class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Novo</th>
                <td><input class="form-control" [(ngModel)]="newName" (change)="saveNew()"></td>
                <th></th>
            </tr>
            <tr *ngFor="let person of filteredPeople()">
                <th>{{person.id}}</th>
                <td><input class="form-control" [(ngModel)]="person.name" (change)="save(person)"></td>
                <th>
                    <button type="button" class="btn btn-sm btn-primary" title="Visualizar perguntas deste personagem">
                        <i class="bi bi-eye"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" title="Apagar personagem" (click)="delete(person.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </th>
            </tr>
        </tbody>
    </table>
</div>