<?xml version='1.0' encoding='utf-8'?>
<widget id="br.app.outofloop" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OutOfLoop</name>
    <description>Jogo Fora da Rodada. Help no jogo.</description>
    <icon src="public/favicon120.png" platform="android" />
    <author email="szagot@gmail.com" href="https://www.linkedin.com/in/szag-ot/">
        Daniel Bispo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
