h2 {
    margin: 40px;
}

.btn {
    &.btn-show {
        font: 22px Arial, sans-serif;
        padding: 20px;
        border-radius: 10px;
    }

    &.active {
        animation: btnOutRight 0.8s ease-out forwards;
    }
}

.show {
    display: block;
    text-align: center;
    height: auto !important;
    font: 18px Arial, sans-serif;

    p {
        margin: 0;
    }
}

.alert{
    .btn {
        bottom: auto;
        top: 200px;
    }
}