<div class="board">
    <h1 class="blueShadow">Jogadores</h1>
    <div class="border shadow">
        <div *ngFor="let gamer of getGamers(); let i = index" class="gamer input-group mb-3">
            <label class="input-group-text" for="gamer-{{i}}">Jogador {{i + 1}}</label>
            <input type="text" class="form-control" id="gamer-{{i}}" [value]="gamer" (change)="onGamerChange(i, $event)">
        </div>
    </div>
</div>
<button class="btn next blueShadow" (click)="nextFase()" *ngIf="numberOfGamersIsValid()">Próximo</button>