<div class="container">
    <div class="row">
      <nav class="col-2 d-none d-md-block">
        <ul>
          <li *ngFor="let item of navItems">
            <a class="btn btn-dark form-control d-none d-lg-block" href="#" (click)="go(item.route)">
              <i class="bi" [ngClass]="item.icon"></i>
              {{ item.label }}
            </a>
            <a class="btn btn-dark form-control d-block d-lg-none text-center" href="#" (click)="go(item.route)">
              <i class="bi" [ngClass]="item.icon"></i>
            </a>
          </li>
        </ul>
      </nav>
      <main class="col-12 col-md-10">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  