<div class="container">
    <div class="row">
        <nav class="col-2">
            <ul>
                <li>
                    <a class="btn btn-dark form-control" href="#" (click)="go('/admin/people')">
                        <i class="bi bi-people-fill"></i>
                        Personagens
                    </a>
                </li>
                <li>
                    <a class="btn btn-dark form-control" href="#" (click)="go('/admin/questions')">
                        <i class="bi bi-patch-question-fill"></i>
                        Perguntas
                    </a>
                </li>
            </ul>
        </nav>
        <main class="col-10">
            <router-outlet />
        </main>
    </div>
</div>