/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&text=!');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&text=css');

html,
body {
    @media (max-width: 767px) {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        max-width: none;
        max-height: none;
        overflow: hidden;
    }
}

.outofloop {
    font:
        16px 'Pacifico',
        'Kaushan Script',
        Futura,
        'Roboto',
        'Trebuchet MS',
        Helvetica,
        sans-serif;

    .board {
        opacity: 1;
        transition: opacity 0.8s ease-out;
        height: calc(100vh - 40px);
        padding-top: 40px;

        &.by {
            opacity: 0;
        }

        .border {
            border: 1px solid rgba(0, 36, 70, 0.7) !important;
            border-radius: 10px;
            background: rgba(0, 36, 70, 0.5);
            padding: 20px;
            margin: 20px 0;
            height: calc(100vh - 350px);
            overflow: hidden;
            overflow-y: auto;

            .input-group-text {
                background-color: #0058aa;
                color: whitesmoke;
                border-color: rgba(0, 36, 70, 0.4);
            }

            .form-control {
                background-color: whitesmoke;
                border-color: rgba(0, 36, 70, 0.4);
                color: #0058aa;
                &.btn {
                    margin-bottom: 10px;
                    color: white;
                    text-shadow: 1px 1px 5px #000000;
                    background: rgb(0, 119, 234);
                    background: radial-gradient(circle, #0077ea 0%, #001426 100%);

                    &:active,
                    &:hover {
                        background: radial-gradient(circle, #001426 0%, #0077ea 100%);
                    }

                    &.choose {
                        background: radial-gradient(
                            circle,
                            rgba(1, 38, 0, 1) 0%,
                            rgba(16, 98, 0, 1) 47%,
                            rgba(24, 124, 2, 1) 66%,
                            rgba(36, 181, 0, 1) 100%
                        );
                    }
                }
            }
        }
    }

    .blueShadow {
        font-size: 2.5rem;
        font-weight: 700;
        color: whitesmoke;
        text-shadow:
            -1px 0 1px #0058aa,
            0 1px 1px #0058aa,
            1px 0 1px #0058aa,
            0 -1px 1px #0058aa,
            -2px 0 5px #0077ea,
            0 2px 5px #0077ea,
            2px 0 5px #0077ea,
            0 -2px 5px #0077ea,
            -4px 0 10px #0068c9,
            0 4px 10px #0068c9,
            4px 0 10px #0068c9,
            0 -4px 10px #0068c9;

        &.btn {
            border: 0 none !important;
            text-transform: uppercase;
            font-size: 2rem;
            position: absolute;
            left: 50%;
            bottom: 100px;
            transform: translate(-50%, 0);
            animation: pulsar 2s infinite;

            &.start {
                font-size: 2.5rem;
            }
        }
    }

    .alert {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        color: whitesmoke;
        text-shadow:
            -1px 0 1px #aa0000,
            0 1px 1px #aa0000,
            1px 0 1px #aa0000,
            0 -1px 1px #aa0000,
            -2px 0 5px #ea0000,
            0 2px 5px #ea0000,
            2px 0 5px #ea0000,
            0 -2px 5px #ea0000,
            -4px 0 10px #c90000,
            0 4px 10px #c90000,
            4px 0 10px #c90000,
            0 -4px 10px #c90000;
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translate(-50%, 0);
        text-align: center;
        width: 100%;
    }

    h1.blueShadow {
        font-size: 3em;
        text-align: center;
    }

    h2.blueShadow {
        font-size: 3.5em;
        text-align: center;
    }
}

@keyframes btnOutDown {
    20% {
        bottom: 130px;
    }

    100% {
        bottom: -250px;
    }
}

@keyframes btnOutRight {
    20% {
        left: 40%;
    }

    100% {
        left: 250%;
    }
}

@keyframes pulsar {
    0%,
    100% {
        text-shadow:
            -1px 0 1px #0058aa,
            0 1px 1px #0058aa,
            1px 0 1px #0058aa,
            0 -1px 1px #0058aa,
            -2px 0 5px #0077ea,
            0 2px 5px #0077ea,
            2px 0 5px #0077ea,
            0 -2px 5px #0077ea,
            -4px 0 10px #0068c9,
            0 4px 10px #0068c9,
            4px 0 10px #0068c9,
            0 -4px 10px #0068c9;
    }

    50% {
        text-shadow:
            -1px 0 1px #004080,
            0 1px 1px #004080,
            1px 0 1px #004080,
            0 -1px 1px #004080,
            -2px 0 5px #0050b0,
            0 2px 5px #0050b0,
            2px 0 5px #0050b0,
            0 -2px 5px #0050b0,
            -4px 0 10px #0045a0,
            0 4px 10px #0045a0,
            4px 0 10px #0045a0,
            0 -4px 10px #0045a0;
    }
}
