.container {
    position: relative;
    height: calc(100vh - 40px);
    border-radius: 10px;
    overflow: hidden;
    background: radial-gradient(circle at 50% 28%, #0077ea, #1f4f96, #1b2949, #000);

    @media (max-width: 767px){
        height: 100vh;
        border: 0 none;
        border-radius: 0;
    }

    &>* {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        opacity: 0.05;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  url('https://wol.jw.org/en/wol/mp/r1/lp-e/gf/2000/43') no-repeat center center;
        background-size: cover;
        pointer-events: none;
        z-index: 0;
    }
}